@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  padding: 3px 3px 3px 3px;
  overflow-x: hidden;
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;


}


.container {
  display: flex;
  flex-direction: column;
}

.pay {
  padding-top: 20px;
  margin-top: 10%;
  margin: auto;
  align-items: center;
}


.pay img {
  position: absolute;
  margin: auto;
  left: 50%;
  width: 300px;
  height: auto;
  transform: translateX(-50%);



}

.info {
  position: relative;
  display: block;

}

.info h1 {
  font-size: 1em;

  text-align: center;

}

.chave {
  text-align: center;
  margin-top: 25%;
  font-size: 1em;
}